<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TitleNavBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BB476AE1C1D841600C33B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB476C71C1D841600C33B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB476D21C1D841600C33B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
